 # ========================================
  # Node.js
  # ========================================
  node_modules/
  npm-debug.log*

  # ========================================
  # Variables de Entorno
  # ========================================
  .env
  .env.local

  # ========================================
  # Git
  # ========================================
  .git/
  .gitignore

  # ========================================
  # Docker
  # ========================================
  Dockerfile
  .dockerignore
  docker-compose.yml

  # ========================================
  # Documentación
  # ========================================
  README.md
  *.md

  # ========================================
  # IDEs y temporales
  # ========================================
  .vscode/
  .idea/
  *.log